.home-container {
  .heading {
    line-height: 66px;
    position: relative;
    text-align: center;
    color: $brandColor;
  }
  .sub-heading {
    position: relative;
    line-height: 1.3;
    text-align: center;
  }
  .body {
    text-align: center;
  }

  .hero-wrapper,
  .intro-wrapper,
  .about-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-container,
  .intro-container,
  .about-container,
  .team-container {
    position: relative;
    height: 90vh;
    max-height: 600px;
  }

  .work-container,
  .testimonial-container,
  .principles-container,
  .tech-container,
  .office-container,
  .about-container,
  .contact-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .hero-container {
    color: white;
    background: url("../images/hero-image.png") no-repeat right;
    background-size: cover;
  }

  .intro-container {
  }

  .work-container {
    background: lightgray;
    .work-detail-container {
      background: white;
    }
    .work-contents-wrapper {
      position: relative;
      width: 90%;
      left: 5%;

      .work-image {
        width: 100%;
        height: auto;
      }
    }
  }

  .testimonial-container {
    position: relative;

    .testimonial-wrapper {
      width: 80%;
      left: 10%;

      .testimonial-contents-wrapper {
        padding-top: 8%;
      }
      .img-container {
        display: inline-flex;
      }
      img {
        height: 50%;
      }
      .client-image {
        position: relative;
        background-image: url("../images/sample.jpg");
        background-size: cover;

        &:before {
          content: "";
          display: block;
          padding-top: 90%;
        }
      }
    }
  }

  .principles-container {
    .principles-contents-wrapper {
      width: 80%;
      position: relative;
      left: 10%;

      .principle-detail-container {
        .separator {
          color: grey;
          margin-left: -40px;
          width: calc(100% + 80px);
        }
      }
    }
  }

  .tech-container {
    .tech-categories-container {
      position: relative;

      .tech-category {
        .tech-heading {
        }
      }
    }
  }

  .about-container {
    background-image: url("../images/team1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  .team-container {
    .team-image-container {
      margin: 20px;
      height: 100%;
      background-image: url("../images/team2.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .office-container {
    background-color: $colorGrayLightBackground;
    .heading-wrapper {
      .heading,
      .body {
        text-align: left;
      }
    }
    .map-container {
      height: 40vh;
      width: 100%;
      position: relative;
      #map {
        border: 1px solid $colorGrayMedium;
        width: 100%;
        height: 100%;
      }
    }
  }

  .contact-container {
    .heading-wrapper {
      .heading,
      .body {
        text-align: left;
      }
    }

    .form-container {
      width: 100% !important;

      input {
        width: 100% !important;
        height: 40px !important;
      }

      #message-contact-us {
        width: 100%;
      }
    }
  }
}

.parsley-errors-list {
  position: absolute !important;
  visibility: hidden !important;
}

// client testimonials section CSS

/* CSS talk bubble */
.talk-bubble {
  margin: 10px;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: lightgray;
  border-radius: 5px;
}
.border {
  border: 8px solid #666;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: transparent lightgray transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
