.home-container {
  .heading {
    line-height: 66px;
    position: relative;
    text-align: center;
  }
  .sub-heading {
    position: relative;
    line-height: 1.3;
    text-align: center;
  }
  .body {
    text-align: center;
  }

  .hero-wrapper,
  .intro-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-container,
  .intro-container {
    position: relative;
    height: 90vh;
    max-height: 600px;
  }

  .work-container,
  .testimonial-container,
  .principles-container,
  .tech-container,
  .office-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .hero-container {
    color: white;
    background-color: black;
  }

  .intro-container {
  }

  .work-container {
    background: lightgray;
    .work-detail-container{
      background: white;
    }
    .work-contents-wrapper {
      position: relative;
      width: 90%;
      left: 5%;

      .work-image {
        width: 100%;
        height: auto;
      }
    }
  }

  .testimonial-container {
    position: relative;

    .testimonial-wrapper {
      width: 80%;
      left: 10%;

      .testimonial-contents-wrapper {
        padding-top: 8%;

      }
      .img-container{
        display: inline-flex;
      }
      img{
        height: 50%;
      }
      .client-image {
        position: relative;
        background-image: url("../images/sample.jpg");
        background-size: cover;

        &:before {
          content: "";
          display: block;
          padding-top: 90%;
        }
      }
    }
  }

  .principles-container {
    .principles-contents-wrapper {
      width: 80%;
      position: relative;
      left: 10%;

      .principle-detail-container {
        .separator {
          color: grey;
          margin-left: -40px;
          width: calc(100% + 80px);
        }
      }
    }
  }

  .tech-container {
    .tech-images-container {
      width: 70%;
      position: relative;
      left: 15%;

      .tech-image-1,
      .tech-image-2 {
        position: relative;
        width: 80%;
        left: 10%;
        border: 1px solid grey;

        &:before {
          content: "";
          display: block;
          padding-top: 60%;
        }
      }
    }
  }

  .office-container {
    .heading-wrapper {
      .heading,
      .body {
        text-align: left;
      }
    }
    .map-container {
      height: 60vh;
      width: 90%;
      position: relative;
      #map {
        width: 90%;
        height: 100%;
      }
    }
  }

  .contact-container {
    .heading-wrapper {
      .heading,
      .body {
        text-align: left;
      }
    }

    .form-container {
      width: 90% !important;

      input {
        width: 90% !important;
        height: 40px !important;
      }

      #message-contact-us {
        width: 90%;
        border: 1px solid rgb(238, 238, 238);
      }
    }
  }
}

.parsley-errors-list {
  position: absolute !important;
  visibility: hidden !important;
}


// client testimonials section CSS


/* CSS talk bubble */
.talk-bubble {
  margin: 10px;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: lightgray;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: transparent lightgray transparent transparent;
}



/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}