<div class="footer-container">
  <div class="logo-container font-wt-700">
    <img src="../images/logo-icon.svg" width="30" height="30" class="d-inline-block align-top" alt="Kodelounge">
    <span class="logo-brand-name">Kode Lounge</span>
  </div>
  <div class="brand-name text-center py-3 font-wt-100">&copy; Kode Lounge 2019</div>
  <div class="social-container">
    <a href="#" class="social-link mr-4"><img src="../images/fb.svg" width="30" height="30" class="d-inline-block align-top" alt="facebook"></a>
    <a href="#" class="social-link mr-4"><img src="../images/twitter.svg" width="30" height="30" class="d-inline-block align-top" alt="twitter"></a>
    <a href="#" class="social-link"><img src="../images/linkedin.svg" width="30" height="30" class="d-inline-block align-top" alt="linkedin"></a>
  </div>
</div>